<html lang="es">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mascotas Felices y Sanas</title>
    <link href="{% static 'WebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">


    <link href="{% static 'WebApp/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
      <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'Home' %}">Mascotas Felices y Sanas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'Home' %}">Inicio</a></li>
            <li class="nav-item"><a class="nav-link {% if request.path == '/servicios/' %}active{% endif %}" href="{% url 'Servicios' %}">Servicios</a></li>
            <li class="nav-item"><a class="nav-link {% if request.path == '/tienda/' %}active{% endif %}" href="{% url 'Tienda' %}">Productos</a></li>
            <li class="nav-item"><a class="nav-link {% if request.path == '/galeria/' %}active{% endif %}" href="{% url 'Galeria' %}">Galería</a></li>
            <li class="nav-item"><a class="nav-link {% if request.path == '/contacto/' %}active{% endif %}" href="{% url 'Contacto' %}">Agendar cita</a></li>
            <li class="nav-item"><a class="nav-link {% if request.path|slice:'6' == '/blog/' %}active{% endif %}" href="{% url 'Blog' %}">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="footer text-faded text-center py-5 mt-5">
        <div class="container">
            <p class="m-0">
                <a href="#" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </p>
            <p class="m-0 mbt">
                <a href="sample.html" class="link">Política de privacidad</a> ·
                <a href="sample.html" class="link">Aviso legal</a> ·
                <a href="sample.html" class="link">Cookies</a>
            </p>
            <p class="m-0 mbt1">&copy; Mascotas Felices y Sanas 2024</p>
        </div>
    </footer>

    <script src="{% static 'WebApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'WebApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>
